*{
    margin: 0;
    padding: 0;
}

html{
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    align-items: center;
    min-height: calc(var(--vh, 1vh)*100);
    justify-content: center;
}

h2{
  margin-bottom: 20px;
}


div{
    background-color:hsl(0, 0%, 100%);
    text-align: center;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 1rem;
    border-width: 1rem;
    width: 50%;
    margin: auto;
    margin-top: 20%;
    
}

div img{
    width: 100%;
    border-radius: 1rem;
    padding:0;
}

p{
    color: red;
}


@media only screen and (max-width:720px) {
   p{
    color: green;
   }
   
   div{
     width: 80%;
   }
    
}

}
        /*for mobile*/